<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrots_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>carrots_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carrots.png</string>
            <key>size</key>
            <string>{986,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f6eb6a187cb6f6bfe79a0fc49c74c8:0834c7f1028b18a77d8cd3c17777067a:1796ad5a8647ec54c6470a42ee0b7446$</string>
            <key>textureFileName</key>
            <string>carrots.png</string>
        </dict>
    </dict>
</plist>
