<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunnyburning_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,192}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,3},{116,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{116,192}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,3},{116,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{116,192}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,3},{116,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{116,190}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{116,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{116,190}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{116,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{116,190}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{116,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{116,186}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{116,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{116,180}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{116,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{116,172}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{116,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,192},{118,162}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{118,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,192},{118,148}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{118,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,192},{120,138}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,62},{120,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,192},{120,138}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,62},{120,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,192},{124,138}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{124,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,192},{126,138}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{126,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{128,138}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,62},{128,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,364},{130,138}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{130,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,364},{132,138}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,62},{132,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,364},{132,138}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{132,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,364},{132,138}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,62},{132,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bunnyburning_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,364},{134,138}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{134,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunny_burning.png</string>
            <key>size</key>
            <string>{928,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02963d8ad6a09669c8e54ae7d0a86836:00621d7c24853c90d65ba7756d8faaca:ae9d5f6f64f68cf650850aeae57b0f6c$</string>
            <key>textureFileName</key>
            <string>bunny_burning.png</string>
        </dict>
    </dict>
</plist>
