<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>flower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{640,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e77731424454e54dedcf72e7fdabaa7e:586531eff059c8ee0a037bdd6384bc4b:28b5f63aee02c9e802c3848dbb8fc9b7$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
