<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomba_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{48,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{48,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{48,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{48,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{48,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{52,60}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{50,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{50,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{48,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{48,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{48,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{48,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{50,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{50,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{50,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{52,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{52,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{48,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{48,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bomba_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{48,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{48,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{52,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:298e763e9216439a16d36b49376e9642:e6f8d78a9e583057c9c0fc94ecc1f2ea:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
