<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunnycoin0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{24,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{24,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{12,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{12,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{14,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{14,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{32,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{40,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{20,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{20,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{12,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{12,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{32,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bunnycoin0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{44,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunnycoin_spritesheet.png</string>
            <key>size</key>
            <string>{604,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94d4d5e3fa1cc0b0e98ce43c1a447ccf:bcd9ed815bde73fe4763130b1bff18c0:39ec30e0095dad1e82c335759ed79746$</string>
            <key>textureFileName</key>
            <string>bunnycoin_spritesheet.png</string>
        </dict>
    </dict>
</plist>
