<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,92}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{50,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{50,92}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{50,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{50,92}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{50,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{50,94}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{50,94}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{50,94}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{50,94}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{50,96}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{50,96}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{50,98}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{50,98}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{50,98}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{50,98}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{50,100}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{50,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{50,102}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{50,102}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,0},{50,102}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{50,102}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{50,104}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{50,104}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{50,102}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{50,100}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{50,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{50,96}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{50,96}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{52,92}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{52,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,0},{56,90}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,0},{58,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{58,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,0},{58,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{58,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,0},{58,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{58,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,0},{58,92}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{58,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,0},{58,90}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{58,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,0},{56,90}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,0},{56,90}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,0},{56,90}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,0},{54,92}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{54,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,0},{54,90}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{54,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,0},{52,90}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{52,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,0},{52,90}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{52,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_up_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,0},{50,92}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{50,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunny_up.png</string>
            <key>size</key>
            <string>{1728,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12bc3957218f1a8336a31cd7c002dc86:b0cab9e43dcb102d162cc7eda6266ba0:94d4de2544fffb60014b46013a4367ec$</string>
            <key>textureFileName</key>
            <string>bunny_up.png</string>
        </dict>
    </dict>
</plist>
