<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>porcupine_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>porcupine_down_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>porcupine_down.png</string>
            <key>size</key>
            <string>{860,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc6427abb93a09f580e80701a87aee0:c4f99df2eb1fe689920b6ddf2632621f:536a5d053e4065f3df4b4c36d4f05522$</string>
            <key>textureFileName</key>
            <string>porcupine_down.png</string>
        </dict>
    </dict>
</plist>
