<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,100}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{52,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{52,100}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{52,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{50,100}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{50,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{50,100}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{50,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{50,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{50,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{50,102}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{50,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{50,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,104}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{52,102}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{52,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{54,100}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{56,100}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{56,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,0},{56,100}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{56,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,0},{56,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,98}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,0},{56,100}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,0},{56,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{56,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,0},{54,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{54,98}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,0},{54,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{54,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,0},{54,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,0},{54,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{54,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,0},{52,100}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{52,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>bunny_right_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,0},{52,100}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{52,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunny_right.png</string>
            <key>size</key>
            <string>{1718,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7f04368f5e9d7df887d3a5827dcd00:d6b32433f348a875e20a1eabfcbeeac5:830f0e91a01abde730d2884893b6a532$</string>
            <key>textureFileName</key>
            <string>bunny_right.png</string>
        </dict>
    </dict>
</plist>
